n8n/workflow_recomendaciones_semanales.json
{
    "name": "Recomendaciones Semanales Programadas",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "triggerAtHour": 10,
                            "triggerAtMinute": 0,
                            "daysOfWeek": [
                                0
                            ]
                        }
                    ]
                }
            },
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.2,
            "position": [
                0,
                0
            ],
            "id": "schedule-trigger",
            "name": "Domingo 10:00"
        },
        {
            "parameters": {
                "url": "http://backend:9091/api/libros",
                "options": {
                    "timeout": 10000
                }
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                220,
                0
            ],
            "id": "get-libros",
            "name": "Obtener Libros"
        },
        {
            "parameters": {
                "jsCode": "// Obtener libros del cat谩logo\nconst libros = items[0].json.content || items[0].json || [];\n\n// Seleccionar 3 libros aleatorios\nconst shuffled = libros.sort(() => 0.5 - Math.random());\nconst seleccionados = shuffled.slice(0, 3);\n\n// Formatear mensaje\nlet mensaje = ' *Recomendaciones de la Semana*\\n\\n';\nmensaje += '隆Hola! Aqu铆 tienes algunas sugerencias para esta semana:\\n\\n';\n\nseleccionados.forEach((libro, i) => {\n  mensaje += `${i + 1}. *${libro.titulo}*\\n`;\n  mensaje += `   锔 ${libro.autor}\\n`;\n  mensaje += `    ${libro.categoria || 'General'}\\n\\n`;\n});\n\nmensaje += '_Visita la biblioteca para reservar tu favorito._\\n';\nmensaje += '_Usa /desuscribir para dejar de recibir estas notificaciones._';\n\nreturn [{\n  json: {\n    mensaje_telegram: mensaje,\n    libros_count: seleccionados.length\n  }\n}];"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                440,
                0
            ],
            "id": "format-recomendacion",
            "name": "Formatear Recomendaci贸n"
        },
        {
            "parameters": {
                "chatId": "-4870856336",
                "text": "={{ $json.mensaje_telegram }}",
                "additionalFields": {
                    "parse_mode": "Markdown"
                }
            },
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.2,
            "position": [
                660,
                0
            ],
            "id": "telegram-broadcast",
            "name": "Enviar Recomendaci贸n",
            "credentials": {
                "telegramApi": {
                    "id": "YOUR_TELEGRAM_CREDENTIALS_ID",
                    "name": "BiblioTech Bot"
                }
            }
        }
    ],
    "connections": {
        "Domingo 10:00": {
            "main": [
                [
                    {
                        "node": "Obtener Libros",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Obtener Libros": {
            "main": [
                [
                    {
                        "node": "Formatear Recomendaci贸n",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Formatear Recomendaci贸n": {
            "main": [
                [
                    {
                        "node": "Enviar Recomendaci贸n",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1",
        "timezone": "Europe/Madrid"
    }
}