n8n/workflow_nueva_reserva.json
{
    "name": "Notificación Nueva Reserva v3",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "webhook-nueva-reserva-v3",
                "options": {}
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                0,
                0
            ],
            "id": "webhook-reserva",
            "name": "Webhook Nueva Reserva"
        },
        {
            "parameters": {
                "jsCode": "// Obtener datos del webhook\nconst datos = items[0].json;\n\n// Formatear fecha\nconst fecha = new Date().toLocaleString('es-ES', { timeZone: 'Europe/Madrid' });\n\n// Crear mensaje para Telegram\nconst mensaje = `📚 *Nueva Reserva*\\n\\n👤 *Usuario:* ${datos.usuario || 'N/A'}\\n📖 *Libro:* ${datos.libro || 'N/A'}\\n📅 *Fecha:* ${fecha}\\n⏰ *Expira en:* 24 horas\\n\\n_El usuario tiene 24 horas para recoger el libro._`;\n\nreturn [{\n  json: {\n    ...datos,\n    mensaje_telegram: mensaje,\n    fecha_log: fecha\n  }\n}];"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                220,
                0
            ],
            "id": "formatter",
            "name": "Formatear Mensaje"
        },
        {
            "parameters": {
                "chatId": "-4870856336",
                "text": "={{ $json.mensaje_telegram }}",
                "additionalFields": {
                    "parse_mode": "Markdown"
                }
            },
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.2,
            "position": [
                480,
                0
            ],
            "id": "telegram-notify",
            "name": "Enviar a Telegram",
            "credentials": {
                "telegramApi": {
                    "id": "YOUR_TELEGRAM_CREDENTIALS_ID",
                    "name": "BiblioTech Bot"
                }
            }
        }
    ],
    "connections": {
        "Webhook Nueva Reserva": {
            "main": [
                [
                    {
                        "node": "Formatear Mensaje",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Formatear Mensaje": {
            "main": [
                [
                    {
                        "node": "Enviar a Telegram",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    }
}